.bs-alert {
  background: #ff0000;
  display: block;
  height: 28px;
  left: 0;
  position: absolute;
  top: 0;
  width: 100vw;
}

.bs-alert p {
  color: #fff;
  display: block;
  font-family: 'Arial', 'Helvetica', sans-serif;
  font-size: 14px;
  font-weight: bold;
  line-height: 2em;
  margin: 0;
  text-align: center;
  text-transform: uppercase;
}

body.shift {
  margin-top: 28px;
}

.bs-alert-inline {
  background: rgba(255, 00, 00, .25);
  border: 1px solid #800000;
  border-radius: .25em;
  color: #800000;
  text-align: center;
  margin: 8px 0;
  padding: 4px;
}

[class*="hint--"] {
}
