.bs-alert {
  background: #ff0000;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  display: block;
  height: 28px;
  left: 0;
  margin: 0;
  overflow: hidden;
  position: fixed;
  text-align: center;
  top: 0;
  width: 100vw;
  z-index: 2147483647;
}

.bs-alert span {
  color: #fff;
  font-family: 'Arial', 'Helvetica', sans-serif;
  font-size: 14px;
  font-weight: bold;
  line-height: 2em;
  text-transform: uppercase;
}

.bs-alert.bs-warning {
  background: #ffff00;
}

.bs-alert.bs-caution span {
  color: #000;
}

.bs-alert-close {
  color: #fff;
  display: inline-block;
  cursor: pointer;
  float: right;
  height: 28px;
  line-height: 1.5em;
  margin: 2px 6px 0;
  padding: 0 6px;
}

.bs-warning .bs-alert-close {
  color: #000;
  padding: 0 6px;
}

.bs-alert-shift {
  padding-top: 28px;
}

.bs-alert-inline {
  background: rgba(255, 00, 00, .25);
  border: 1px solid #800000;
  border-radius: .25em;
  color: #800000;
  text-align: center;
  margin: 8px 0;
  padding: 4px;
}

.bs-alert-inline.bs-caution {
  background: rgba(255, 255, 00, .25);
  border: 1px solid #ffff00;
  color: #000000;
}
