/**
 * Place your custom CSS styles here.
 **/
div.fakeNews{
  background: rgba(255, 00, 00, .5);
  color: white;
  font-weight: bold;
  text-align: center;
  padding-top: 1px;
  padding-bottom: 1px;
}
[class*="hint--"] {
}
